
h3, label {
  text-align: center;
  margin-bottom: 6px;
  font-weight: 500;
  color: var(--color-quinto);

}

label{
  text-align: left ;
}

input,
textarea {
  font-family: "Poppins", sans-serif; /* o la fuente que uses */
  font-size: 15px;
  border-radius: 5px;
}

/* Asegura que el placeholder use la misma fuente y estilo */
input::placeholder,
textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  text-align: left;
}


#cerrar-seccion{
  margin-top: 20px;
  padding: 5px;

}